
  <div class="hero-unit">

          <h1 class = "micropost" ></h1>
          <%#<%= render 'shared/micropost_form' %>
          <%# <%= render 'helper/comments_helper' %>
          <%#<%= render "comments/form" %>
          <%#<%= render 'shared/feed' %>



  </div>
